/*******************************************************************************
 * Themes
 ******************************************************************************/
 :root {
  --global-bg-color: #f5f5f5;
  --global-code-bg-color: #f0f0f0;
  --global-text-color: #333;
  --global-text-color-light: #777;
  --global-theme-color: #1f8ceb;
  --global-hover-color: #1f8ceb;
  --global-hover-text-color: #fff;
  --global-footer-bg-color: #333;
  --global-footer-text-color: #777;
  --global-footer-link-color: #fff;
  --global-distill-app-color: #777;
  --global-divider-color: rgba(0,0,0,.1);
  --global-card-bg-color: #f5f5f5;

  .fa-sun {
    display: none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #2d2d2d;
  --global-code-bg-color: #1c1c1c;
  --global-text-color: #c5c5c5;
  --global-text-color-light: #999;
  --global-theme-color: #3dbdd1;
  --global-hover-color: #3dbdd1;
  --global-hover-text-color: #fff;
  --global-footer-bg-color: #1c1c1c;
  --global-footer-text-color: #999;
  --global-footer-link-color: #f5f5f5;
  --global-distill-app-color: #999;
  --global-divider-color: #424246;
  --global-card-bg-color: #2d2d2d;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
  .fa-moon {
    display: none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
